<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-lg navbar-love">
    <a class="navbar-brand text" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/130px-Heart_coraz%C3%B3n.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Valentines Match Maker
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text" href="/questions">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" href="/questions/new">New Question</a>
          </li>
        </ul>
    </div>
</nav>