<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-lg navbar-love">
    <a class="navbar-brand text" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/130px-Heart_coraz%C3%B3n.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Valentines Match Maker
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text" href="/questions">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" href="/questions/new">New Question</a>
        </li>
      </ul>
      <a class="nav-item text btn btn-info mx-lg-1 my-2 my-lg-0" href="/login">Login</a>
      <a class="nav-item text mx-lg-1 my-2 my-lg-0" href="/register"><button class="btn btn-info">Sign Up</button></a>
      <a class="nav-item text mx-lg-1 my-2 my-lg-0" href="/logout"><button class="btn btn-info">Log out</button></a>
    </div>
</nav>