<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-lg navbar-love">
    <a class="navbar-brand text collapse navbar-collapse" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/130px-Heart_coraz%C3%B3n.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Valentines Match Maker
    </a>
    <div class="collapse navbar-collapse">

      <% if(currentUser) {%>
        <li class="nav-link text">Logged in as <%= currentUser.username %></li>
        <%}%>
    </div>
    <div class="navbar-collapse" id="navbarNav">
    <!--<div class="collapse navbar-collapse" id="navbarNav">-->
      <ul class="navbar-nav mr-auto">
      </ul>
      <% if(currentUser) {%>
        <!--<li class="nav-link text">Logged in as <%= currentUser.username %></li>-->
        <a class="nav-item text btn btn-secondary mx-lg-1 my-2 my-lg-0" href="/profile">Profile</a>
        <a class="nav-item text mx-lg-1 my-2 my-lg-0" href="/logout"><button class="btn btn-secondary">Log out</button></a>
      <% } %>
      <% if(!currentUser) {%>
        <a class="nav-item text btn btn-secondary mx-lg-1 my-2 my-lg-0" href="/login">Login</a>
        <a class="nav-item text mx-lg-1 my-2 my-lg-0" href="/register"><button class="btn btn-secondary">Sign Up</button></a>
      <% }%>
    </div>
</nav>