<%- include("partials/header") -%>
<%-include("partials/testNavbar") -%>
<link rel="stylesheet" href="/css/index.css">
<div class="container text-center mt-15">
    <div class="content">
        <h1>Valentine's Test</h1>
        <h3>Ready to find true love?</h3>
        <hr>
        <% if(!currentUser) { %>
            <a href="/login">
                <button class="btn btn-default btn-lg btn-secondary">Login</button>
            </a>
            <a href="/register">
                <button class="btn btn-default btn-lg btn-secondary">Sign Up</button>
            </a>
        <% } else { %>
            <a href="/test">
                <button class="btn btn-default btn-lg btn-secondary">Take the test</button>
            </a>
            <a href="/logout">
                <button class="btn btn-default btn-lg btn-secondary">Log Out</button>
            </a>
        <% } %>
    </div>
</div>

<%- include("partials/footer") -%>