<%- include("partials/header") -%>
<h1>What kind of question do you want to add?</h1>
<form action="/settype" method="POST">
    <select name="type" id="">
        <option>text</option>
    </select>
    <input type="submit" value="Create Question!">
</form>

<%- include("partials/footer") -%>
