<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container mt-5">
    <h1>New Question</h1>
    <hr>
    <form action="/questions" method="POST">
        <label for="type">What kind of question do you want to add?</label>
        <select name="type" class="form-control" id="type">
            <option value="text">Text</option>
            <option value="multiplechoice">Multiple Choice</option>
        </select>
        <hr>
        <div id="general" class="hide">
            <input type="text" class="form-control" name="title" placeholder="Question title">
            <textarea class="form-control" name="question" placeholder="Question text"></textarea>
        </div>
        <div id="text" class="hide">
            <input type="submit" class="btn btn-form" value="Create Question!">
        </div>

        <div id="multiplechoice" class="hide">
            <p>Possible answers: </p>
            <input type="text" class="form-control answer" name="answer1" id="answer1">
            <input type="text" class="form-control answer" name="answer2" id="answer2">
            <button type="button" class="new btn btn-form">New Answer</button>
            <button type="button" class="remove btn btn-form">Delete Answer</button>
            <input type="submit" class="btn btn-form" value="Create Question!">
        </div>
    </form>
    <script src="/js/multiplechoice.js"></script>
    <script src="/js/newquestion.js"></script>
</div>
<%- include("partials/footer") -%>
