<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/profile.css">
<div class="container mt-5">
    <div class="general">
        <h5>Manage Profile</h5>
        <hr>
        <div class="row">
          <div class="col">
            Profile
          </div>
          <div class="col">
              <p>
                Name
                <hr>
                <input type="text" name="username" class="username" value="<%=user.username%>" disabled>
                <i class="fas fa-edit mr-2 edit-icon-username"></i>
                <button class="btn btn-sm btn-form mt-0 btn-edit edit-username">Save</button>
                <button class="btn btn-sm btn-form mt-0 btn-edit edit-username">Cancel</button>
            </p>
            <p class="mt-5">
                email
                <hr>
                <input type="email" name="email" class="email" value="<%=user.email%>" disabled>
                <i class="fas fa-edit edit-icon-email"></i>
                <button class="btn btn-sm btn-form mt-0 btn-edit edit-email">Save</button>
                <button class="btn btn-sm btn-form mt-0 btn-edit edit-email">Cancel</button>
            </p>
          </div>
        </div>
        <div class="w-100"></div>
        <hr>
        <div class="row mt-5">
            <div class="col">
              Test
            </div>
            <div class="col">
                <% if(user.answerList && user.answerList.length > 0){ %>
                    Results will be released soon...
                <% } else { %>
                    <a href="/test"><button class="btn btn-form mt-0">Answer Test</button></a>
                <% } %>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>
<%- include("partials/footer") -%>
