.content{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    line-height: 1; 
    backdrop-filter: blur(20px);  
    -webkit-backdrop-filter: blur(20px);
    padding: 20px 40px;
}

body{
    background: url('https://freesvg.org/img/Hearts-Background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}