input{
    background-color: inherit;
    border: none;
}

.col-1{
    font-family: 'fontleroy_brown_nfregular';
    font-size: 20px;
}

#results{
    font-family: 'fontleroy_brown_nfregular';
    font-size: 50px;
}