
@font-face {
    font-family: 'fontleroy_brown_nfregular';
    src: url('../fonts/fontleroybrown/fontleroybrown.regular-webfont.woff2') format('woff2'),
         url('../fonts/fontleroybrown/fontleroybrown.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'italiccregular';
    src: url('../fonts/italicC/italicc-webfont.woff2') format('woff2'),
         url('../fonts/italicC/italicc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #edc2d8ff;
    font-family: 'italiccregular';
}

.mt-10{
    margin-top: 10%;
}
.mt-15{
    margin-top: 15%;
}
.btn-form{
    margin-top: 10px;
    background: #edc2d8ff;
}

.btn-blue{
    background: #dae9f1;
}
.btn-pink{
    background: #edc2d8ff;
}
.container{
    background: #dae9f1;
    padding-top: 10px;
    padding-bottom: 10px;
}